-- AlterTable
ALTER TABLE "Risk" DROP COLUMN "RS_Description",
DROP COLUMN "RS_LastReview",
DROP COLUMN "RS_Mesures",
DROP COLUMN "RS_NextReview",
DROP COLUMN "RS_Type",
ALTER COLUMN "RS_Probabilite" SET NOT NULL,
ALTER COLUMN "RS_Probabilite" DROP DEFAULT,
ALTER COLUMN "RS_Gravite" SET NOT NULL,
ALTER COLUMN "RS_Gravite" DROP DEFAULT,
ALTER COLUMN "RS_Score" SET NOT NULL,
ALTER COLUMN "RS_Score" DROP DEFAULT,
ALTER COLUMN "RS_Status" SET NOT NULL;

